.ping-container {
  position: absolute;
  background-color: orange;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  margin-left: 45%;
  margin-top: 200px;
}

.remove-button {
  position: absolute;
  color: black;
  font-weight: 600;
  top: 5px;
  left: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .ping-container {
    margin-top: 100px;
    margin-left: 40%;
  }
}

@media screen and (max-width: 600px) {
  .ping-container {
    margin-top: 150px;
    margin-left: 30%;
  }
}
